/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Josefin Sans";
	src: url("/fonts/josefin-sans-latin-400-normal.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@layer components {
	.icon {
	  @apply inline-flex items-center justify-center text-gray-600 w-8 sm:w-10 h-8 sm:h-10 dark:text-gray-400 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm sm:p-2.5;
	}
  }

html {
	font-size: 18px;
}
a:hover {
	text-decoration: underline;
}
