---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostList from "../../components/PostList.astro";
import { getAllTags } from "../../utils/tags";

export async function getStaticPaths() {
	const allPosts = await getCollection("blog");
	const uniqueTags = await getAllTags();

	return uniqueTags.map((tag) => {
		// tagがundefinedでないことを保証する
		const tagAsString = tag as string; // 型アサーションを使用
		const filteredPosts = allPosts.filter((post) =>
			post.data.tags?.includes(tagAsString)
		);
		return {
			params: { tag: tagAsString },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
// ここでtagがundefinedでないことを保証する
const tagAsString = tag as string; // 型アサーションを使用
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tagAsString}>
	<h2 class="text-center mb-12 text-l lg:text-xl">
		"{tagAsString}"のタグが付いた記事
	</h2>
	<PostList posts={posts} />
</BaseLayout>
