---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="My Profile" description="My Profile">
	<div class="prose max-w-full">
		<h2>My Profile</h2>
		<p>
			当サイトをご覧いただきありがとうございます。運営者の大嶋大輝です。フロントエンドエンジニアをしています。
			業務では WordPerss Developer、個人で Next.js や Astro など触っています。趣味は読書。
		</p>
		<hr>
		<ol class="list-none relative border-l border-gray-300">
			<li class="mb-8 -ml-2">
				<div
					class="absolute w-3 h-3 bg-gray-300 rounded-full mt-2.5 -left-1.5 border border-white"
				>
				</div>
				<time class="font-['Josefin_Sans'] mb-1 text-xs text-gray-400">
					2020.07
				</time>
				<h5>Web制作会社でインターンシップ</h5>
				<p class="mb-4 text-sm text-gray-600">
					HTML・CSSなどの基礎的なコーディングを独学を半年ほどした後、Web制作会社のインターンシップにコーダーとしてJoinしました。
				</p>
			</li>
			<li class="mb-8 -ml-2">
				<div
					class="absolute w-3 h-3 bg-gray-300 rounded-full mt-2.5 -left-1.5 border border-white"
				>
				</div>
				<time class="font-['Josefin_Sans'] mb-1 text-xs text-gray-400">
					2021.01
				</time>
				<h5>インターンシップ先の制作会社に入社</h5>
				<p class="text-sm text-gray-600">
					半年ほどのインターンシップを経て、入社しました。コーディングだけでなく、ディレクションやSNS運用、保守管理などの業務にも携わりました。
				</p>
			</li>
			<li class="mb-8 -ml-2">
				<div
					class="absolute w-3 h-3 bg-gray-300 rounded-full mt-2.5 -left-1.5 border border-white"
				>
				</div>
				<time class="font-['Josefin_Sans'] mb-1 text-xs text-gray-400">
					2022.07
				</time>
				<h5>個人事業主となる</h5>
				<p class="text-sm text-gray-600">
					本業の傍ら、クラウドワークスやランサーズなど副業でWeb制作をしており、個人事業主となりました。<br
					/>
					<a
						href="https://en-filer.com/"
						target="_blank"
						rel="noopener noreferrer"
						class="font-normal"
					>
						&rarr; enFielr
					</a>
				</p>
			</li>
			<li class="mb-8 -ml-2">
				<div
					class="absolute w-3 h-3 bg-gray-300 rounded-full mt-2.5 -left-1.5 border border-white"
				>
				</div>
				<time class="font-['Josefin_Sans'] mb-1 text-xs text-gray-400">
					2022.08
				</time>
				<h5>自社開発の会社へ転職</h5>
				<p class="text-sm text-gray-600">
					WordPressテーマやプラグインを開発する会社へエンジニアとしてJoinしました。<br
					/>
					 リモートワークとなったので、通勤時間も勉強できるように。
				</p>
			</li>
			<li class="mb-8 -ml-2">
				<div
					class="absolute w-3 h-3 bg-gray-300 rounded-full mt-2.5 -left-1.5 border border-white"
				>
				</div>
				<time class="font-['Josefin_Sans'] mb-1 text-xs text-gray-400">
					現在
				</time>
			</li>
		</ol>
	</div>
</BaseLayout>
