---
const today = new Date();
---

<footer class="pt-16 sm:pt-20 pb-4 sm:pb-8">
	<p class="font-['Josefin_Sans'] text-xs text-center text-gray-500">
		&copy; {today.getFullYear()} Daiki Oshima. All rights reserved.
	</p>
</footer>
