---
import { SITE_TITLE } from "../consts";
---

<header class="flex justify-center pt-8 pb-12 sm:pb-20">
	<p>
		<a
			href="/"
			class="font-['Josefin_Sans'] block text-4xl sm:text-5xl hover:no-underline"
		>
			{SITE_TITLE}
		</a>
	</p>
</header>
