---
interface Props {
	tags: string[];
}

const { tags } = Astro.props;
---

<div
	class="flex items-center flex-wrap gap-2 font-['Josefin_Sans'] font-light text-xs text-gray-600 dark:text-gray-400"
>
	{
		tags.map((tag) => (
			<a
				class="inline-block align-bottom px-1 pt-1 rounded-sm text-inherit bg-slate-200 dark:bg-gray-700 hover:bg-slate-300 dark:hover:bg-gray-600 whitespace-nowrap transition-colors"
				href={`/tags/${tag}`}
			>
				{tag}
			</a>
		))
	}
</div>