---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/josefin-sans";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="dark:bg-black dark:text-white">
		<Header />
		<div class="container max-w-2xl mx-auto px-2 sm:px-6 tracking-wider">
			<main class="break-words">
				<slot />
			</main>
		</div>
		<Footer />
	</body>
</html>
